@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gradient-animation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.p-gradient {
    background: linear-gradient(270deg, #ff0000, #ff7a18, #ffcd1e);
    background-size: 600% 600%;
    -webkit-animation: gradient-animation 5s ease infinite;
    -moz-animation: gradient-animation 5s ease infinite;
    animation: gradient-animation 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

